* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/fundo-5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

h2{
    font-weight: 100;
    padding: 10px 0;
}

header {
    text-align: left;
    padding: 45px 30px 30px;
    font-size: 25px;
}

header a {
    color: white;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.618);
    color: white;
    width: 50vw;
    border-radius: 50px;
}

.titulo {
    text-align: center;
    padding: 10px 0;
}

.mylist {
    list-style: circle;
    padding-left: 16px;
}

.lista {
    line-height: 3em;
    /* border: 1px solid red; */
    max-width: 35vw;
    /* margin: 0 auto; */

}

#appendButton {
    width: 110px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(1, 82, 99);
    color: white;
    transition:  transform 0.2s ease;
}

#appendButton:hover {
    cursor: pointer;
    transform: scale(1.1);
}