* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(../img/fundo-4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

header {
  text-align: left;
  padding: 45px 30px 30px;
  font-size: 25px;
}

header a {
    color: white;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

.container {
    position: absolute;
    padding: 15px 0 20px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.618);
    color: white;
    text-align: center;
    border-radius: 50px;
    width: 50vw;
    min-width: 400px;
}

h1 { padding: 15px 0; }

p { padding: 6px 0; }

#resultado {
    font-weight: bold;
    font-size: 20px;
  }

  #situacao {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
  }

  .normal {
    color: green;
  }

  .alerta {
    color: orange;
  }

  .perigo {
    color: red;
  }

  #botao {
    width: 110px;
    height: 40px;
    border-radius: 20px;
    margin: 15px 0 4px;
    background-color: rgb(1, 82, 99);
    color: white;
    transition:  transform 0.2s ease;
  }

  #botao:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
  
  .input_media{
    border: none;
    outline: none;
    border-radius: 5px;
    margin-left: 10px;
    padding: 6px;
    background-color: rgba(255, 255, 255, 0.111);
    border: 1px solid #fff;
    color: #fff;
    transition: border 300ms ease-in-out;
}

.input_media:focus{
    border: 1px solid #00bfff;
}