* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 19px;
}

body { background-color: black; }

.image-container { position: relative; }

.imagem{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
}

.imagem img { border-radius: 300px; }

.text-link {
    position: absolute;
    top: 30%;
    left: 35%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 24px;
}

.text-link a {
    color: #ffffff;
    text-decoration: none;
    line-height: 2em;
    transition: 200ms ease-in-out;
    text-decoration: overline transparent;
}

.text-link a:hover {
    cursor: pointer;
    color: #000000;
    text-decoration: overline #000;
}


/* páginas calcular media */

#mediav1 {
    background-image: url("../img/fundo-2.jpg");
    background-size: cover; /* ajustar o tamanho da imagem para cobrir todo o elemento */
    background-repeat: no-repeat; /* evitar que a imagem seja repetida */
    background-attachment: fixed; /*para fixar a imagem*/
    background-position: center; /*para centralizar*/
    background-color: black;
}

#mediav2 {
    background-image: url("../img/fundo-3.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center;
    background-color: black;
}

.container {
    position: absolute;
    padding: 35px 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.615);
    color: #ffffff;
    text-align: center;
    border-radius: 50px;
    min-width: 400px;
    width: 40vw;
}

h1, #botao, .input_media { margin-bottom: 15px; }

p { padding: 6px 0; }

p:last-child{ padding: 0; }

header {
    text-align: left;
    padding: 45px 30px 30px;
    font-size: 25px;
}

header a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

#botao {
    width: 110px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(1, 82, 99);
    color: #ffffff;
    transition:  transform 0.2s ease-in-out;
}

#botao:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.final { padding-top: 20px; }

.input_media{
    border: none;
    outline: none;
    border-radius: 5px;
    margin-left: 10px;
    padding: 6px;
    background-color: rgba(255, 255, 255, 0.111);
    border: 1px solid #fff;
    color: #fff;
    transition: border 300ms ease-in-out;
}

.input_media:focus{ border: 1px solid #00bfff; }

#media { color: #0000ff; }

#situacao { color: #ff0000; }


/* Calculo IMC */

#calculo-IMC {
    background-image: url(../img/fundo-4.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

#resultado {
    font-weight: bold;
    font-size: 20px;
}

#situacao {
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
}

.normal { color: green; }

.alerta { color: orange; }

.perigo { color: red; }

#botao {
    width: 110px;
    height: 40px;
    border-radius: 20px;
    margin: 15px 0 4px;
    background-color: rgb(1, 82, 99);
    color: white;
    transition:  transform 0.2s ease;
}

 #botao:hover {
    cursor: pointer;
    transform: scale(1.1);
}


  /* AppendChild */

#append-body {
    background-image: url(../img/fundo-5.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: black;
}

h2{
    font-weight: 100;
    padding: 10px 0;
}

#id-container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo {
    text-align: center;
    padding: 10px 0;
}

.mylist { list-style: none; }

.lista {
    line-height: 3em;
    max-width: 35vw;
}

#appendButton {
    width: 110px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(1, 82, 99);
    color: white;
    transition:  transform 0.2s ease;
}

#appendButton:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.cor {
    margin-left: 10px;
}