* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#mediav1 {
    background-image: url("../img/fundo-2.jpg");
    background-size: cover; /* ajustar o tamanho da imagem para cobrir todo o elemento */
    background-repeat: no-repeat; /* evitar que a imagem seja repetida */
    background-attachment: fixed; /*para fixar a imagem*/
    background-position: center; /*para centralizar*/
    background-color: black;
}

#mediav2 {
    background-image: url("../img/fundo-3.jpg");
    background-size: cover;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-position: center;
    background-color: black;
}

.container {
    position: absolute;
    padding: 35px 0px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.615);
    color: white;
    text-align: center;
    border-radius: 50px;
    min-width: 400px;
    width: 40vw;
}

h1, #botao, .input_media { margin-bottom: 15px; }

p { padding: 0 0 6px; }

p:last-child{ padding: 0; }

#media { color: #0000ff; }

#situacao { color: #ff0000; }

header {
    text-align: left;
    padding: 45px 30px 30px;
    font-size: 25px;
}

header a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    cursor: pointer;
    text-decoration: underline;
}

#botao {
    width: 110px;
    height: 40px;
    border-radius: 20px;
    background-color: rgb(1, 82, 99);
    color: #ffffff;
    transition:  transform 0.2s ease;
}

#botao:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.final { padding-top: 20px; }

.input_media{
    border: none;
    outline: none;
    border-radius: 5px;
    margin-left: 10px;
    padding: 6px;
    background-color: rgba(255, 255, 255, 0.111);
    border: 1px solid #fff;
    color: #fff;
    transition: border 300ms ease-in-out;
}

.input_media:focus{
    border: 1px solid #00bfff;
}